<h1>Customers Missing Emails</h1>

<%= link_to 'New Customer', new_customer_path, :method => :get %>   
<%= link_to 'All Customers', root_path, :method => :get %>    

<br />

<%= render @customers %>